<!-- posts is the argument from view function-->

{% extends "layout.html" %}
{% block category %}
{% endblock%}
{% block content %}
<!--Category1-->
<h1>{{category.name}}</h1>
<h3>{{category.description}}</h3>
<a class="contentSortButton" name="popularity" href="#" category="{{category.name}}"> Sort by popularity</a>
<a Class="contentSortButton" name="time" href="#" category="{{category.name}}"> Sort by time</a>

<div id="content">
    <div class="album py-5 bg-light">
        <!-- list1 -->
        <div class="container" style="background-color:#E3AFBC;">
            <div class="row">
                {%for post in posts%}
                <div class="col-md-4">
                    <div class="card mb-4 box-shado_file">
                        <img class="card-img-top"
                             src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                             alt="Card image cap">
                        <div class="card-body" style="">
                            <div class="post-title">
                                <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                        style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                            </div>
                            <div class="post-subtitle">
                                <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                                <a class="text-muted" href="#"><img src="../../static/red_heart.svg">: {{post.total_like}}
                                </a>
                                <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                                <small></small>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>


<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/sort_content.js')}}"></script>
<script src="{{ url_for('static', filename='js/add_favourite.js')}}"></script>
{% endblock content %}

