{% extends "layout.html" %}

{% block content %}

<style>
.form-check{
color:white;
}
.container{
width = 50%
}
.form-group{
color: white
}
.text-muted{
color: white
}
.internal-link{
color:white}

.text{
color:white}

</style>


<div class="container" style="width:50%">
    <div class="row">
        <div class="col-md-4 text-right">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/'+current_user.image_file) }}"
                 style="height:60%; width:auto">
        </div>
        <div class="col">
            <h2 class="text">{{ current_user.username }}</h2>
            <p class="text">{{ current_user.email }}</p>
        </div>
    </div>

    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag()}}
        <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
            {% for error in form.picture.errors %}
            <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
            {% endif %}
        </div>

        <div class="container" style="width:50%">
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
            </div>
        </div>
    </form>
</div>
{% endblock content %}
