
{% block accountcontent%}
<style>
.post-title{
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

.post-subtitle{
     width:100%;
     height: 50px;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     overflow: hidden;
     text-overflow: ellipsis;
     }

</style>

<div class="row">
    <div class="col-md-4 text-center">
        <a href="">Your favorites</a>
    </div>
    <div class="col-md-4 text-center">
        <a href="">Your buys</a>
    </div>
    <div class="col-md-4 text-center">
        <a href="">You may like</a>
    </div>
</div>

<div class="album py-5 bg-light" style="background-color:white;">
    <!-- list1 -->
    <div class="container" style="background-color:white;">
        <div class="row">
            {%for post in deals%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <small class="text-muted"><img src="../../static/red_heart.svg">: {{post.total_like}}
                            </small>
                            <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>
</div>