<!-- posts is the argument from view function-->
{% extends "layout.html" %}


{% block category %}

<style>
.form-check{
color:white;
}
.container{
width = 50%
}
.form-group{
color: white
}
.text-muted{
color: white
}
.internal-link{
color:white}

.text{
color:white}

.internal-text{
color: #8942a8
}

.internal-link{
color: #8942a8;}

.internal-link:hover{
color: #bd382d;}

.post-link{
color:#8942a8;
text-decoration: none;
font-size: large;
}

.post-link:hover{
color: #bd382d;
}

.carousel slide{
border: 0px
}

.carousel-inner{
border: 0px;
height: 470px
}

.carousel-caption{
padding: 25px;
background-color: rgba(0,0,0,0.5);
border-radius:10px;
}

.carousel-caption.p{
color:black
}

.badge-light{
color:#bd382d;
background-color: rgba(0,0,0,0);
}

</style>
<!--top 3 categories-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin:0px">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!--The first slide-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img width="60%" height="30px"
                 src="../../static/category_pics/Template_asia.png"
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="text">{{category_asia.name}}</h1>
                    <p class="text">{{category_asia.description}}</p>
                    <p class="text"><a class="btn btn-outline-light" href="#Asia" role="button">See more</a>
                    </p>
                </div>
            </div>
        </div>
        <!--The second slide-->
        <div class="carousel-item">
            <img width="60%" height="30px"
                 src="../../static/category_pics/Template_asia.png"
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="text">{{category_usa.name}}</h1>
                    <p class="text">{{category_usa.description}}</p>
                    <p class="text"><a class="btn btn-outline-light" href="#USA" role="button">See more</a>
                    </p>
                </div>
            </div>
        </div>
        <!--The third slide-->
        <div class="carousel-item">
            <img width="60%" height="30px"
                 src="../../static/category_pics/Template_asia.png"
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="text">{{category_cartoon.name}}</h1>
                    <p class="text">{{category_cartoon.description}}</p>
                    <p class="text"><a class="btn btn-outline-light" href="#Cartoon" role="button">See more</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- slide buttons -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"
           style="left:10%; top:50%; color:white">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"
           style="right:10%; top:50%; color:white">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- categories-->
{% endblock%}

{% block content %}
<div class="album py-5">
    <!-- list1 -->
    <div class="container">
        <a class="btn btn-outline-light" style="font-size:xx-large;font-weight:bold; background-color: rgba(0,0,0,0.2)"
           href="{{url_for('webapp.go_to_category', name='TheLatest')}}">The latest</a>
        <p></p>
        <HR color="white">
        <div class="row">
            {%for post in list1%}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body">
                        <div class="post-title">
                            <a class=" post-link" href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span class="internal-text" style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a type="button" class="btn">
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </a>

                            <a type="button" class="btn btn-outline-light" href="#">
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </a>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4 text-center">
                <div class="container">
                    <p></p>
                    <a class="btn btn-outline-light"
                       style="font-size:xx-large;font-weight:bold;background-color: rgba(0,0,0,0.2)"
                       href="{{url_for('webapp.go_to_category', name='TheLatest')}}">Explore more...</a>
                </div>
            </div>
        </div>

        <!--section asia-->
        <a id="Asia" class="btn btn-outline-light"
           style="font-size:xx-large;font-weight:bold;background-color: rgba(0,0,0,0.2)"
           href="{{url_for('webapp.go_to_category', name='Asia')}}">Asia</a>
        <p></p>
        <HR color="white">
        <div class="row">
            {%for post in list2%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="https://user-images.githubusercontent.com/43483189/79245751-cb49ad00-7e78-11ea-9026-65cbb214751f.jpg"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a class="post-link" href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p class="internal-text"><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a type="button" class="btn">
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </a>

                            <a type="button" class="btn btn-outline-light" href="#">
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4 text-center">
                <div class="container">
                    <p></p>
                    <a class="btn btn-outline-light"
                       style="font-size:xx-large;font-weight:bold;background-color: rgba(0,0,0,0.2)"
                       href="{{url_for('webapp.go_to_category', name='Asia')}}">Explore more...</a>
                </div>
            </div>
        </div>

        <!--USA-->
        <a id="USA" class="btn btn-outline-light"
           style="font-size:xx-large;font-weight:bold;background-color: rgba(0,0,0,0.2)"
           href="{{url_for('webapp.go_to_category', name='Europe&USA')}}">Europe & USA</a>
        <p></p>
        <HR color="white">
        <div class="row">
            {%for post in list3%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a class="post-link" href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p class="internal-text"><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a type="button" class="btn">
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </a>

                            <a type="button" class="btn btn-outline-light" href="#">
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4 text-center">
                <div class="container">
                    <p></p>
                    <a class="btn btn-outline-light"
                       style="font-size:xx-large;font-weight:bold; background-color: rgba(0,0,0,0.2)"
                       href="{{url_for('webapp.go_to_category', name='Europe&USA')}}">Explore more...</a>
                </div>
            </div>
        </div>

        <!--Cartoon section-->
        <a id="Cartoon" class="btn btn-outline-light"
           style="font-size:xx-large;font-weight:bold; background-color: rgba(0,0,0,0.2)"
           href="{{url_for('webapp.go_to_category', name='Cartoon')}}">Cartoon</a>
        <p></p>
        <HR color="white">
        <div class="row">
            {%for post in list4%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a class="post-link" href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p class="internal-text"><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <a type="button" class="btn">
                                <span class="fa fa-calendar" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.date_posted.strftime('%Y/%m/%d')}}</span>
                            </a>

                            <a type="button" class="btn btn-outline-light" href="#">
                                <span class="fa fa-heart" style="color:#8942a8">  </span>
                                <span class="badge badge-light">{{post.total_like}}</span>
                            </a>

                            <!--<a type="button" class="btn btn-outline-light" >-->
                            <!--<span class="fa fa-credit-card" style="color:#8942a8">  </span>-->
                            <!--<span class="badge badge-light">{{post.total_buy}}</span>-->
                            <!--</a>-->
                            <!--<p class="fa fa-credit-card" style="color:#8942a8"> {{post.total_buy}}</p>-->
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4 text-center">
                <div class="container">
                    <p></p>
                    <a class="btn btn-outline-light"
                       style="font-size:xx-large;font-weight:bold; background-color: rgba(0,0,0,0.2)"
                       href="{{url_for('webapp.go_to_category', name='Cartoon')}}">Explore more...</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!--side bar-->
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section">
        <h3>Our Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
        </ul>
    </div>
</div>
{% endblock sidebar %}
