<!-- posts is the argument from view function-->
{% extends "layout.html" %}
{% block category %}
<!--top 3 categories-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <!--The first slide-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="width = 100%" src="../../static/category_pics/Picture3.png"
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{category1.name}}</h1>
                    <p>{{category1.description}}</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button" href="">Sign up today</a></p>
                </div>
            </div>
        </div>
        <!--The rest slide-->
        {% for category in category_list%}
        <div class="carousel-item">
            <img class="d-block w-100" src="../../static/category_pics/Picture1.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{category.name}}</h1>
                    <p>{{category.description}}</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        {% endfor%}
        <!-- slide buttons -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- categories-->
{% endblock%}

{% block content %}
<div class="album py-5 bg-light">
    <!-- list1 -->
    <div class="container" style="background-color:#E3AFBC;">
        <a  href="{{url_for('webapp.go_to_category', name='TheLatest')}}"><h2>The latest</h2></a>
        <div class="row">
            {%for post in list1%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <small class="text-muted"><img src="../../static/red_heart.svg">: {{post.total_like}}
                            </small>
                            <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4">
                <a><h2>Read more about "The latest"</h2></a>
            </div>
        </div>
        <a  href="{{url_for('webapp.go_to_category', name='Asia')}}"><h2>Asia</h2></a>
        <div class="row">
            {%for post in list2%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <small class="text-muted"><img src="../../static/red_heart.svg">: {{post.total_like}}
                            </small>
                            <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4">
                <a><h2>Read more about "The latest"</h2></a>
            </div>
        </div>
        <a href="{{url_for('webapp.go_to_category', name='Europe&USA')}}"><h2>Europe & USA</h2></a>
        <div class="row">
            {%for post in list3%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <small class="text-muted"><img src="../../static/red_heart.svg">: {{post.total_like}}
                            </small>
                            <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4">
                <a><h2>Read more about "The latest"</h2></a>
            </div>
        </div>
        <a href="{{url_for('webapp.go_to_category', name='Cartoon')}}"><h2>Cartoon</h2></a>
        <div class="row">
            {%for post in list4%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <small class="text-muted"><img src="../../static/red_heart.svg">: {{post.total_like}}
                            </small>
                            <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4">
                <a><h2>Read more about "The latest"</h2></a>
            </div>
        </div>
        <a href="{{url_for('webapp.go_to_category', name='Unclassified')}}"><h2>Unclassified</h2></a>
        <div class="row">
            {%for post in list5%}
            <div class="col-md-4">
                <div class="card mb-4 box-shado_file">
                    <img class="card-img-top"
                         src="{{url_for('static', filename='post_pics/' + post.image_file)}}"
                         alt="Card image cap">
                    <div class="card-body" style="">
                        <div class="post-title">
                            <a href="{{url_for('post.post', post_id=post.id)}}"><span
                                    style="position: relative; top: 0; left: 0;"><strong>{{post.title}}</strong></span></a>
                        </div>
                        <div class="post-subtitle">
                            <p><span style="position: relative; bottom: 0; left: 0;">{{post.subtitle}}</span></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <small class="text-muted"><img src="../../static/red_heart.svg">: {{post.total_like}}
                            </small>
                            <small class="text-muted"><img src="../../static/pay.svg">: {{post.total_buy}}</small>
                            <small></small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="col-md-4">
                <a><h2>Read more about "The latest"</h2></a>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!--<script src="{{ url_for('static', filename='js/gotoCategory.js')}}"></script>-->
    {% endblock content %}

    {% block sidebar %}
    <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
        </div>
    </div>
    {% endblock sidebar %}
