{% extends "layout.html" %}

{% block content %}

<a class="btn btn-outline-light text-left" href="{{url_for('webapp.buy_vip')}}">Buy your VIP</a>
<h3>你喜欢我们的VIP内容吗？</h3>
<h3>点击下面的的按钮获得推荐码，并让1个新用户使用你的推荐码注册，你将会获得额外1天的免费VIP2体验哦。</h3>
    <a class="btn btn-outline-light text-left" href="" id="get_share_link">Get your code</a>
<p id="share_link"></p>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ url_for('static', filename='js/get_share_link.js')}}"></script>
{% endblock content %}

