{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 text-center">
        <a id="temporary-vip1-button" class="btn btn-outline-light" href="{{ url_for('webapp.three_days_VIP1') }}">Get
            your VIP1 for 3 days</a>
    </div>
    <div class="col-md-6 text-center">
        <a id="temporary-vip2-button" class="btn btn-outline-light" href="{{ url_for('webapp.one_day_VIP2') }}">Get your
            VIP2 for 1 day</a>
    </div>
</div>
<p></p>
{% endblock content %}